.Title-Fav{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: var(--li);
    text-align: center;
    line-height: 30px;
}

.img-fav{
    display: block;
    margin: auto;
}

.Favoritos {
    display: none;
    background-color: var(--fondo);
}
.flex-favoritos {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.gif-busqueda2 {
    padding: 12px;
 }


.IconFavN {
    padding-top: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gifhover{
    display: none;
}


.textNoF {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #50E3C2;
    text-align: center;
    line-height: 33px;
    padding-bottom: 70px;
}



  @media only screen and (min-width: 769px) {
      .flex-favoritos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;  
}
.gifhover{
    display: block;
}

.gif-busqueda2 {
    margin-left: auto;
    margin-right: auto;
    width: 270px;
    height: 250px;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    margin-top: 15px;
  }

.img-ctn2 {
    position: relative;
    
}

.img-ctn2:hover .gif-busqueda {
    opacity: 0.3;
    
  }
  
  .img-ctn2:hover .gifhover {
    opacity: 1;
    margin-top: 5px;
    background-color: rgba(87, 46, 229, 0.5);
    margin-left: auto;
    margin-right: auto;
    width: 270px;
    height: 250px;
  }
  }



