.t-footer {
   text-align: center;
   font-family: "Roboto";
   font-size: 15px;
   color: #000000;
   letter-spacing: 0;
}

#icon {
   color: #CDD6E0;
   margin-left: 15px;
   margin-bottom: 25px;
}

.ctn-icons {
   display:flex;
   justify-content: center;
}


.p-footer {
   text-align: center;
   font-family: "Roboto";
   font-size: 14px;
   color: #000000;
   letter-spacing: 0;
   line-height: 20px;
}