.t-footer {
   text-align: center;
   font-family: "Roboto";
   font-size: 15px;
   color: #000000;
   letter-spacing: 0;
}

#icon {
   color: #CDD6E0;
   margin-left: 15px;
   margin-bottom: 25px;
}

.ctn-icons {
   display:flex;
   justify-content: center;
}


.p-footer {
   text-align: center;
   font-family: "Roboto";
   font-size: 14px;
   color: #000000;
   letter-spacing: 0;
   line-height: 20px;
}

@media only screen and (min-width: 769px) {
   footer{ 
      height: 100px;
      display: flex;
      align-items: center;
   }

   
#icon {
   color: #CDD6E0;
   margin-left:30px;
   margin-bottom: 25px;
   margin-top: 19.95px;
}

#icon:active {
   color: #572EE5;
}

.p-footer {
   margin-left: 800px;
   font-family: "Roboto";
   font-size: 14px;
   color: #000000;
   letter-spacing: 0;
   line-height: 20px;
   
}
.t-footer {
   text-align: center;
   font-family: "Roboto";
   font-size: 15px;
   color: #000000;
   letter-spacing: 0;
   margin-left: 240px;
}

}