.img-misGifos {
    display: block;
    margin: auto;
}

.Title-misGifos {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #572EE5;
    text-align: center;
    line-height: 30px;
}

.MisGyfos {
    display: none;
}