.img-misGifos {
    display: block;
    margin: auto;
}

.Title-misGifos {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: var(--li);
    text-align: center;
    line-height: 30px;
}

.MisGyfos {
    display: none;
    background-color: var(--fondo);
}

.TextMG{
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    color: #50E3C2;
    text-align: center;
    line-height: 25px;
}

.ImgMGN{
    display: block;
    margin: auto;
}


