.sectionSearch {
    background-color: var(--fondo);
    padding-bottom: 20px;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: var(--li);
    text-align: center;
    line-height: 33px;
    width: 286px;
    height: 99px;
    margin-left: auto;
    margin-right: auto;
    
}

.img-search {
    width: 72.8%;
    height: 34.6%;
    display: block;
    margin: auto;
}

.search{
    display: block;
    margin: auto;
    background-color: var(--fondo);
    border: 1px solid var(--li);
    border-radius: 27px;
    border-radius: 27px;
    height: 40px;
    width: 89%; 
    justify-content: space-evenly;
    
}


input {
    height: 35px;
    width: 75%;
    border: none; 
    margin-left: 15px;
    background-color: var(--fondo);
}

.search :focus {
outline: none;
}

.lupa {
    width: 13px;
    height: 13px;
    margin-top: 12px;
}

.lupa2 {
    display: none;
}

.gifos {
    color: #50E3C2;
}

.suggestions {
    display: none;
}

.suggestions {
    display: none;
}

.lineSugesttion{
    display: none;
}
 


@media only screen and (min-width: 769px) {
   

    .sectionSearch {
        background-color: var(--fondo);
    }

    .img-search {
        width: 27.7%;
        height: 34.6%;
        display: block;
        margin: auto;
    }
    .search{
        background: var(--fondo);
        border: 1px solid var(--li);
        border-radius: 27px;
        border-radius: 27px;
        height: 40px;
        width: 38.2%;
        display: block;
        margin: auto;
    }
    
    

    .input {
        height: 100%;
        width: 75%;
        border: none; 
        padding-left: 10px;
        background-color: transparent;
    }
   
    .title {
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        color: var(--li);
        text-align: center;
        line-height: 33px;
        width: 450px;
        height: 99px;
        margin-left: auto;
        margin-right: auto;
        
    }

    input::placeholder{
        margin-bottom: 10px;
    }

    .lupa {
        margin-top: 10px;
        width: 15px;
        height: 15px;
        margin-left: 28px;
    }

    .lupa2 {
        color: #9CAFC3;
        display: none;
        padding-left: 14px;
        width: 15px;

        
    }
    .suggestions {
        display: none;
    }

    li {
        list-style: none;

    }

    #iconsSugg {
     padding-right: 15.6px;
     color: #CDD6E0;  
    }

    .lineSugesttion {
        opacity: 0.5;
        border: 1px solid #9CAFC3;
        width: 35%;
    }

    .flex-search{
        height: 100%;
    }
    
   .ul2{
        margin-top: 3px;
        margin-left: 14px;
        padding-inline-start: 0px;
   }

   .liSugg{
    padding-bottom: 12px;
    font-family: 'Roboto';
    font-size: 14px;
    color: #9CAFC3;
    text-align: left;
   }
}
 