.theme-light {
    --fondo: #572EE5 ;
    --color-secondary: #fbfbfe;
    --color-accent: #fd6f53;
    --font-color: #000000;
  }

.theme-dark {
    --color-primary: #000000 ;
    --color-secondary: #243133;
    --color-accent: #12cdea;
    --font-color: #ffffff;
  }